In [ ]:
largest=None
smallest=None
while True:
    num=input('Enter a number')
    if num=='done':
        break
    try:
        fval=int(num)
    except:
        print('Invalid Input')
    if largest is None:
        largest= fval
    elif fval >largest:
        largest=fval
    if smallest is None:
        smallest=fval
    elif fval< smallest:
        smallest = fval

print('Maximum','is',largest)
print('Minimum','is',smallest)

In [ ]:
#read file and print uppercase without \n
fname = input("Enter file name: ")
fh = open(fname)
for line in fh:
    line=line.rstrip()
    if not line.startswith(' '):
        
        print(line.upper())

In [ ]:
'''
7.2 Write a program that prompts for a file name, then opens that file and reads through the file, looking for lines of the form:
X-DSPAM-Confidence:    0.8475
Count these lines and extract the floating point values from each of the lines and compute the average of those values and produce an output as shown below. Do not use the sum() function or a variable named sum in your solution.
You can download the sample data at http://www.py4e.com/code3/mbox-short.txt when you are testing below enter mbox-short.txt as the file name.
'''
# Use the file name mbox-short.txt as the file name
fname = input("Enter file name: ")
fh = open(fname)
total=0
count=0
for line in fh:
    if not line.startswith("X-DSPAM-Confidence:"):
        continue
    
    total=total+float(line[20:])
    count=count+1
ave=total/count    

print('Average spam confidence: '+ str(ave))

In [ ]:
'''
8.4 Open the file romeo.txt and read it line by line. For each line, split the line into a list of words using the split() method. The program should build a list of words. For each word on each line check to see if the word is already in the list and if not append it to the list. When the program completes, sort and print the resulting words in python sort() order as shown in the desired output.
You can download the sample data at http://www.py4e.com/code3/romeo.txt
'''
fname = input("Enter file name: ")
fh = open(fname)
lst = list()
for line in fh:
    
    word=line.split()
    for each in word:
        if each not in lst:
        
            lst.append(each)
   
    
lst.sort()
print(lst)

In [ ]:
'''8.5 Open the file mbox-short.txt and read it line by line. When you find a line that starts with 'From ' like the following line:
From stephen.marquard@uct.ac.za Sat Jan  5 09:14:16 2008
You will parse the From line using split() and print out the second word in the line (i.e. the entire address of the person who sent the message). Then print out a count at the end.
Hint: make sure not to include the lines that start with 'From:'. Also look at the last line of the sample output to see how to print the count.

You can download the sample data at http://www.py4e.com/code3/mbox-short.txt
'''
fname = input("Enter file name: ")



fh = open(fname)
count = 0
for line in fh:
    line=line.rstrip()
    wds=line.split()
    if len(wds)<1:
        continue
    if wds[0] !='From':
        
        continue
    print(wds[1])
    count+=1    
       
print("There were", count, "lines in the file with From as the first word")

In [ ]:
Using Python to Access Web Data_W4_Assignment: Following Links in HTML Using BeautifulSoup

import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import ssl
ctx=ssl.create_default_context()
ctx.check_hostname=False
ctx.verify_mode=ssl.CERT_NONE

url=input('Enter url')
count_for_loop=int(input('enter number of count'))
repetition_for_loop= int(input('enter number of repetitive time'))

count=0
repetitive=0
print(url)
for i in range(0,repetition_for_loop):
  html=urllib.request.urlopen(url,context=ctx).read()
  soup=BeautifulSoup(html,'html.parser')
  tags=soup('a')

  for tag in tags:
  
    count+=1
    if count==count_for_loop:
      new_link=tag.get('href',None)
      print(new_link)

      url=new_link
      count=0
      break

In [ ]:
#Using Python to Access Web Data_W5_Assignment: Extracting Data from XML
import urllib.request, urllib.parse, urllib.error
import xml.etree.ElementTree as ET
import ssl
ctx=ssl.create_default_context()

ctx.check_hostname=False
ctx.verify_mode=ssl.CERT_NONE

url=input('Enter url')

data=urllib.request.urlopen(url,context=ctx).read()

tree=ET.fromstring(data)
lst=tree.findall('.//count') '''or the comments/comment, and below find('count') also can'''
sum=0


for i in lst:
  a=int(i.text)  
  sum+=a  
print('Retrieving',url )  
print('Retrieved',len(data),'characters')  
print('Count: ',len(lst))
print('Sum: ',sum)

In [ ]:
#Using Python to Access Web Data_W6_Assignment_1: Extracting Data from JSON
import urllib.request, urllib.parse, urllib.error
import json
import ssl

ctx=ssl.create_default_context()
ctx.check_hostname=False
ctx.verify_mode=ssl.CERT_NONE

url=input('Enter location')
print('Retrieving',url)

connection=urllib.request.urlopen(url, context=url)
data=connection.read().decode()
print('Retrieved' ,len(data), 'characters')
js=json.loads(data)
print(json.dumps(js,indent=2))
count=0
sum=0
for i in js['comments']:
    count+=1
    print(int(i['count']))
    sum+=int(i['count'])
print(sum)

In [ ]:
#Using Python to Access Web Data_W6_Assignment_2: Using the GeoJSON API
import urllib.request, urllib.parse, urllib.error
import json
import ssl
ctx=ssl.create_default_context()
ctx.check_hostname=False
ctx.verify_mode=ssl.CERT_NONE
api_key = False
# If you have a Google Places API key, enter it here
# api_key = 'AIzaSy___IDByT70'
# https://developers.google.com/maps/documentation/geocoding/intro

if api_key is False:
    api_key = 42
    serviceurl = 'http://py4e-data.dr-chuck.net/json?'
else :
    serviceurl = 'https://maps.googleapis.com/maps/api/geocode/json?'
serviceurl='http://py4e-data.dr-chuck.net/json?'
while True:
	address= input('interest location')
	if len(address)<1:
		break
	param=dict()
	param['address']=address
	param['key']=api_key
	url=serviceurl+urllib.parse.urlencode(param)
    
	print('Retrieving',url)
	uh=urllib.request.urlopen(url)
	data=uh.read().decode()
	print('Retrieved',len(data),'characters')
    

	js=json.loads(data)

    
	

    
	print(js['results'][0]['place_id'])

In [ ]:
#Using Databases with Python_W2_Assignment_2: Counting Email in a Database
import sqlite3
import re
conn = sqlite3.connect('test.sqlite')
cur = conn.cursor()

cur.execute('DROP TABLE IF EXISTS Counts')

cur.execute('CREATE TABLE Counts (email TEXT, count INTEGER)')

fname = input('Enter file name: ')
if (len(fname) < 1): fname = 'sql_assignment.txt'
fh = open(fname)



for line in fh:
	'''
	can also use this to extract
	email=re.findall('@([^ >\n;]* )',line)
	if len(email)<1:
		continue
	'''
	if not line.startswith('From '):
		continue
	pieces=line.split()
	#test email=re.findall('@([^ >\n;])',line)
	email=pieces[1].split('@')[1]
	
	
	
	cur.execute('SELECT count FROM Counts WHERE email=? ',(email,))
	row=cur.fetchone()
	if row is None:
		cur.execute('''INSERT INTO Counts (email,count) VALUES (?,1)''',(email,))
	else:
		cur.execute('UPDATE Counts SET count=count+1 WHERE email=? ',(email,))
	conn.commit()

sqlstr='SELECT email , count FROM COUNTS ORDER BY count DESC LIMIT 10'

for row in cur.execute(sqlstr):
	print(row[0],row[1])

In [ ]:
#Using Databases with Python_W3_Assignment_1: Multi-Table Database - Tracks
#while read with xml
import sqlite3
import xml.etree.ElementTree as ET
conn=sqlite3.connect('relationsql.sqlite')
cur=conn.cursor()

cur.executescript('''
DROP TABLE IF EXISTS Artist;
DROP TABLE IF EXISTS Album;
DROP TABLE IF EXISTS Genre;
DROP TABLE IF EXISTS Track;
	CREATE TABLE Artist(
	ID INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
	name TEXT UNIQUE);
	
	
	CREATE TABLE Genre(
	ID INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
	name TEXT UNIQUE);
	
	CREATE TABLE Album(
	ID INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
	title TEXT UNIQUE,
	artist_id INTEGER);
	
	CREATE TABLE Track(
	ID INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,title TEXT UNIQUE,
	album_id INTEGER, genre_id INTEGER,
	len INTEGER, Rating Integer, count Integer)''')
	
	

fname='Library.xml'

def lookup(d,key):
	found=False
	for eachtree in d:
		if found:
			return eachtree.text
		if eachtree.tag=='key' and eachtree.text==key:
			found=True
	return None
		
	
stuff=ET.parse(fname)
all_dict = stuff.findall('dict/dict/dict')
print(len(all_dict))

for entry in all_dict:
	if (lookup(entry, 'Track ID') is None):
		continue
	name=lookup(entry, 'Name')
	artist=lookup(entry, 'Artist')
	album=lookup(entry, 'Album')
	count=lookup(entry, 'Play Count')
	rating=lookup(entry, 'Rating')
	length=lookup(entry, 'Total Time')
	genre=lookup(entry, 'Genre')
	
	if name is None or artist is None or album is None or genre is None:
		continue
	print(name, artist, album, count, rating, length)
	#work from the most simplified table 1st (artist(simplified) > album >track(complicated))
	cur.execute('''INSERT OR IGNORE INTO Artist (name) 
        VALUES ( ? )''', ( artist, ) )
	cur.execute('SELECT ID FROM Artist WHERE name = ? ', (artist, ))
	artist_id=cur.fetchone()[0]
	

	cur.execute('''INSERT OR IGNORE INTO Album (title, artist_id) 
        VALUES ( ?, ? )''', ( album, artist_id ) )
	cur.execute('SELECT ID FROM Album WHERE title = ? ', (album, ))	
	album_id=cur.fetchone()[0]
	
	cur.execute('''INSERT OR IGNORE INTO Genre (name) 
        VALUES ( ? )''', ( genre,) )
	cur.execute('SELECT ID FROM Genre WHERE name = ? ', (genre, ))	
	
	#cur.execute('INSERT OR IGNORE INTO Genre (name) VALUES (genre)')
	#cur.execute('SELECT ID FROM Genre WHERE name=genre')
	genre_id=cur.fetchone()[0]
	
	cur.execute('''INSERT OR REPLACE INTO Track (title,album_id,genre_id,len, Rating, count) VALUES (?,?,?,?,?,?)''',(name,album_id,genre_id,length,rating,count))
	
	conn.commit()

'''
SELECT Track.title, Artist.name, Album.title, Genre.name 
    FROM Track JOIN Genre JOIN Album JOIN Artist 
    ON Track.genre_id = Genre.ID and Track.album_id = Album.id 
        AND Album.artist_id = Artist.id
    ORDER BY Artist.name, Track.title LIMIT 10	'''


#while read with csv
'''
import sqlite3

conn = sqlite3.connect('trackdb.sqlite')
cur = conn.cursor()

# Make some fresh tables using executescript()
cur.executescript('''
DROP TABLE IF EXISTS Artist;
DROP TABLE IF EXISTS Album;
DROP TABLE IF EXISTS Track;

CREATE TABLE Artist (
    id  INTEGER PRIMARY KEY,
    name    TEXT UNIQUE
);

CREATE TABLE Album (
    id  INTEGER PRIMARY KEY,
    artist_id  INTEGER,
    title   TEXT UNIQUE
);

CREATE TABLE Track (
    id  INTEGER PRIMARY KEY,
    title TEXT  UNIQUE,
    album_id  INTEGER,
    len INTEGER, rating INTEGER, count INTEGER
);
''')


handle = open('tracks.csv')

# Another One Bites The Dust,Queen,Greatest Hits,55,100,217103
#   0                          1      2           3  4   5

for line in handle:
    line = line.strip();
    pieces = line.split(',')
    if len(pieces) != 6 : continue

    name = pieces[0]
    artist = pieces[1]
    album = pieces[2]
    count = pieces[3]
    rating = pieces[4]
    length = pieces[5]

    print(name, artist, album, count, rating, length)

    cur.execute('''INSERT OR IGNORE INTO Artist (name) 
        VALUES ( ? )''', ( artist, ) )
    cur.execute('SELECT id FROM Artist WHERE name = ? ', (artist, ))
    artist_id = cur.fetchone()[0]

    cur.execute('''INSERT OR IGNORE INTO Album (title, artist_id) 
        VALUES ( ?, ? )''', ( album, artist_id ) )
    cur.execute('SELECT id FROM Album WHERE title = ? ', (album, ))
    album_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Track
        (title, album_id, len, rating, count) 
        VALUES ( ?, ?, ?, ?, ? )''', 
        ( name, album_id, length, rating, count ) )

    conn.commit()
'''

In [ ]:
#Using Databases with Python_W4_Assignment_1: Many Students in Many Courses
import json
import sqlite3

conn=sqlite3.connect('relationsql1.sqlite')
cur=conn.cursor()

#some setup

cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name TEXT UNIQUE
);

CREATE TABLE Course (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title TEXT UNIQUE

);

CREATE TABLE Member (
    user_id INTEGER ,
    course_id INTEGER,
    role INTEGER,
    PRIMARY KEY (user_id, course_id))


''')


fname='course.json'
str_data=open(fname).read()
json_data= json.loads(str_data)

for entry in json_data:
    
    name=entry[0]
    title=entry[1]
    role=entry[2]
    
    cur.execute('INSERT OR IGNORE INTO User (name) VALUES (?)',(name,))
    cur.execute('SELECT id from User WHERE name=?',(name,))
    user_id=cur.fetchone()[0]


    cur.execute('INSERT OR IGNORE INTO Course (title) VALUES (?)',(title,))
    cur.execute('SELECT id FROM Course WHERE title=(?)',(title,))
    course_id=cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Member (user_id , course_id , role) 
        VALUES (?,?,?)''',(user_id,course_id,role))

conn.commit()

#SELECT User.name,Course.title, Member.role FROM 
    #User JOIN Member JOIN Course 
    #ON User.id = Member.user_id AND Member.course_id = Course.id
    #ORDER BY User.name DESC, Course.title DESC, Member.role DESC LIMIT 2;

#SELECT 'XYZZY' || hex(User.name || Course.title || Member.role ) AS X FROM 
    #User JOIN Member JOIN Course 
    #ON User.id = Member.user_id AND Member.course_id = Course.id
    #ORDER BY X LIMIT 1;

In [ ]:
#test1
import sqlite3
import urllib.error
import ssl
from urllib.parse import urljoin
from urllib.request import urlopen
from bs4 import BeautifulSoup

#Ignore SSL
ctx= ssl.create_default_context()
ctx.check_hostname= False
ctx.verify_mode= ssl.CERT_NONE

conn = sqlite3.connect('spider.sqlite')
cur = conn.cursor()


cur.execute('''CREATE TABLE IF NOT EXISTS Pages
       (id TNTEGER PRIMARY KEY, url TEXT UNIQUE, html TEXT,
       error INTEGER, old_rank REAL, new_rank REAL)''')
cur.execute('''CREATE TABLE IF NOT EXISTS Links (from_id INTEGER, to_id INTEGER)''')
cur.execute('''CREATE TABLE IF NOT EXISTS Webs (url TEXT UNIQUE)''')

cur.execute('SELECT id, url FROM Pages WHERE html is NULL and error is NULL ORDER BY RANDOM() LIMIT 1')
row= cur.fetchone()

if row is None:
    print('Restarting existing crawl. Remove spider.sqlite to start a fresh ')